<script type='text/javascript' src='//pl16977637.effectivecpmcontent.com/b1/d8/9e/b1d89ea7981ad427bccaa241cfe16d21.js'></script>
<script async="async" data-cfasync="false" src="//pl17015496.effectivecpmcontent.com/7d3b319f5f27125589d4779bb60784b2/invoke.js"></script>

<script type="text/javascript" defer id="histats">
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    var isi = document.createTextNode("var _Hasync= _Hasync|| [];_Hasync.push(['Histats.start', '1,4628868,4,0,0,0,00010000']);_Hasync.push(['Histats.fasi', '1']);_Hasync.push(['Histats.track_hits', '']);(function() {var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;hs.src = ('//s10.histats.com/js15_as.js');(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);})();");
    element.appendChild(isi);
    document.body.appendChild(element);
    document.getElementById("histats").remove();
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;    
</script>